.headerContainer {
  position: relative;
  z-index: var(--z-header);
  padding: var(--spacing-4) 0;
  margin-bottom: var(--spacing-4);
  border-bottom: var(--border-width) solid var(--card-border);
}

.yearSelectWrapper {
  width: 100%;

  @media (min-width: 768px) {
    width: 8rem;
  }
}
